@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  transition: 0.5s;
}

body {
  max-width: 1440px;
  margin:  0 auto;
  background-color: #fffdfa;
}

#btn:active,
aside div h4:active,
.news-number + h4:active {
  scale: 1.1;
}

#icon-menu,
#ham-links,
#close-menu-container{
  display: none;
}


#mobile-img {
  display: none;
}

#opening-paragraph {
  color: #5d5f79;
  font-size: small;
  font-weight: 400;
}

#btn {
  color: #fff;
  border: 0;
  outline: 0;
  text-align: center;
  letter-spacing: 0.1rem;
  background-color: #f15e50;
}

#btn:hover {
  background-color: #00001a;
}

aside h2 {
  color: #e9ab53;
  font-weight: 700;
}

aside div {
  color: #fffdfa;
}

aside div h4:hover {
  color: #e9ab53;
  cursor: pointer;
}

#news {
  width: 60%;
  background-color: #00001a;
}

.news-number {
  color: #5d5f79;
}

.news-number + h4:hover {
  color: #f15e50;
  cursor: pointer;
}

.news-intro {
  color: #5d5f79;
  font-size: small;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 767px) {
  #icon-menu {
    display: block;
  }

  .ham-menu {
    animation: show 1s linear alternate;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin: 0;
    padding: 2rem;
    background-color: #fff;
  }

  #close-menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 3rem;
  }

  #ham-links{
    display: block;
  }

  #ham-links .nav-link {
    color: hsl(240, 100%, 5%);
    padding: 0.7rem 0;
    font-weight: 400;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
  }

  #news{
    width: 100%;
  }

  @keyframes show {
    0% {
      margin-right: -1000px;
    }

    100% {
      margin-right: 0;
    }
  }
}
